@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Roboto, 'sans-serif';
}

body{
  background-color: rgb(197, 197, 197);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}



.main{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  background-color: red;
  border-radius: 10px;
  gap: 4px;


}

.containerForBoard {
  background-color: #e4e0e0;
  width: 500px;
  height: 500px;
  border: 2px solid black;
  align-self: center;
  display: grid;

  
}

.title {
  color: gold;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  height: 5%;
  font-size: 25px;
  margin-bottom: 5px;
}


.infoForBoard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
  
  
}

.roundCircle1, .roundCircle2{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color:  rgb(248, 248, 248);


}



.options button{
  width: 80px;
  height: 40px;
  font-size: 16px;
  color: rgb(248, 248, 248);
  font-weight: bold;
  background-color: rgb(248, 248, 248,0);
  cursor: pointer;
  border: 1px solid white;
  border-radius: 2px;
  transition: 0.15s;

}
.select:active, .reset:active , .random:active ,.black:active{
  opacity: 0.5;
}

.select:hover{
  background-color:rgb(2, 224, 50);

}

.reset:hover{
  background-color: rgb(19, 161, 255);
}

.random:hover {
  background-color: rgb(165, 177, 0);
}

.black:hover {
  background-color: rgb(0, 0, 0);
  

}

.label-for-button {
  color: rgb(248, 248, 248);
  font-style: italic;
  display: inline;
}

#draw {
  color: rgb(248, 248, 248);
  font-style: italic;
  font-size: 16px;
  margin-top: 4px;
  display: block;

}





